PIL (Pillow or Python Imaging Library) @ github.com/python-pillow/Pillow
Pygame @ github.com/pygame/pygame
Numpy @ github.com/numpy/numpy
PyOpenGL (and its counterpart PyOpenGL-accelerate) @ github.com/mcfletch/pyopengl
PyAutoGUI @ github.com/asweigart/pyautogui
Psutil @ github.com/giampaolo/psutil
PyWaveFront @ github.com/pywavefront/PyWavefront
CPUinfo @ github.com/pytorch/cpuinfo
GPUtil @ github.com/anderskm/gputil
Tabulate @ github.com/p-ranav/tabulate
