[Desktop Entry]
Encoding=UTF-8
Version={version}
Name[en_US]=Pycraft
GenericName=Pycraft
Exec=python {install_path}/pycraft/main.py
Terminal=true
Icon={install_path}/pycraft/resources/folder resources/FolderIcon.png
Type=Application
Categories=Application;Game;Graphics;3DGraphics;RolePlaying;Amusement;
Comment[en_US]=Pycraft is the OpenGL, open world, video game made entirely with Python.